$white: #eeeeee;
$black: #111111;
$gray: #666666;
$gray-light: #999999;
$gray-dark: #444444;
$blue: hsl(205, 90%, 50%);

$main_text_color: #fffbe6;
$blueish_menu_button_color: rgba(47, 72, 88, 0.53);
$hover_meal_color: rgba(255, 227, 191, 0.84);
$hover_selected_nav_link:rgba(255, 251, 230, 0.53);
$background_color: rgba(7, 4, 4, 1);

$form-hover-button:rgba(255, 251, 230, 0.53);