hr.footer {
    margin: auto {
        top: 3rem;
        bottom: 6rem;
        left: 1.2rem;
        right: 1.2rem;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5rem;
    color: var(--main_text_color);

    #address_footer {
        font-family: 'Arimo', sans-serif;
        width: fit-content;
    }
    #brand_logo_footer {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: var(--main_text_color);
        }
        
        &:hover {
            color: var(--main_text_color)
        }

        h1 {
            @include brand_logo();
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    p {
        font-size: 1.6rem;
        text-align: center;
    }

    #footer_icons svg {
        width: 40px;
        height: 40px;
        fill: var(--main_text_color);
        margin-left: 0.5rem;

        &:hover {
            fill: #AAE6FF;
            stroke: var(--blueish_menu_button_color); 
            stroke-width: 3px; 
            transition: 0.3s;
        }
    }
}

// -----------------------------------------------------
//               *******MEDIA QUERIES*******
// -----------------------------------------------------


// ---------------------------------------------------------
//                          Tablet Style
// ---------------------------------------------------------
@media screen and (max-width: 990px) {
    footer {
        #brand_logo_footer {grid-area: logo;}
        #address_footer {grid-area: address;}
        #footer_icons { grid-area: icons;}
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "logo"
        "address"
        "icons";
        justify-items: center;

        @mixin brand_logo_mobile {
            font-size: 2rem;
            margin-top: 1rem;
            margin-left: 1.5rem;
            letter-spacing: 3px;
            border-bottom: 1px solid var(--main_text_color);
        }

        #brand_logo_footer h1 {
            @include brand_logo_mobile;
            margin: 0;
            padding: 0;
        }
    }
}

// ---------------------------------------------------------
//                       Mobile Style
// ---------------------------------------------------------
@media screen and (min-width: 300px) and (max-width: 660px) {
    footer {
        #brand_logo_footer {grid-area: logo;}
        #address_footer {grid-area: address;}
        #footer_icons { grid-area: icons;}
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "logo"
        "address"
        "icons";
        justify-items: center;

        @mixin brand_logo_mobile {
            font-size: 2rem;
            margin-top: 1rem;
            margin-left: 1.5rem;
            letter-spacing: 3px;
            border-bottom: 1px solid var(--main_text_color);
        }

        #brand_logo_footer h1 {
            @include brand_logo_mobile;
            // margin-left: -9rem;
            // margin-bottom: 3rem;
            padding: 0;
        }
    }
}
